.table.table-align-middle td,
.table.table-align-middle th {
  vertical-align: middle
}

.fullscreen.two-icons {
  left: 25%;
  margin-left: 0;
  width: 50%;
  text-align: center;
}

.fullscreen i.red {
  background-color: rgb(255, 24, 24);
  opacity: 0.8;
}

.hover {
  cursor: pointer;
}

.large {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}

.break-btm {
  margin-bottom: 15px;
}

.break-top {
  margin-top: 15px;
}

.break-left {
  margin-left: 15px;
}

.break-right {
  margin-right: 15px;
}

tr.featured-row td {
  background: rgba(255, 0, 255, 0.3) !important;
}

.featured {
  color: white !important;
  background: rgba(254, 75, 254, 1) !important;
  text-shadow: 1px 1px 1px black;
}

.btn-featured:hover {
  background: rgba(254, 24, 254, 1) !important;
  
}

.inline-block {
  display: inline-block;
}

table.featured-select tr:hover td {
  cursor: pointer;
  background: rgba(255, 0, 255, 0.2) !important;
}

.no-click {
  cursor: default;
}

.select-table tr.selected td,
.select-table tr:hover td {
  color: white;
  cursor: pointer;
  background: #666;
}